APP_NAME=event-booker
APP_ENV=local

POSTGRES_USER=eventbooker
POSTGRES_PASSWORD=eventbooker
POSTGRES_DB=eventbooker
POSTGRES_PORT=5438

APP_HTTP_PORT=8086
APP_HTTP_READ_HEADER_TIMEOUT=5s
APP_HTTP_READ_TIMEOUT=10s
APP_HTTP_WRITE_TIMEOUT=10s
APP_HTTP_IDLE_TIMEOUT=60s
APP_HTTP_SHUTDOWN_TIMEOUT=10s

APP_POSTGRES_DSN=postgres://eventbooker:eventbooker@postgres:5432/eventbooker?sslmode=disable
APP_POSTGRES_MAX_POOL_SIZE=10
APP_MIGRATION_DIR=migrations

APP_BOOKING_PAYMENT_DEADLINE=2m
APP_SCHEDULER_INTERVAL=10s

EMAIL_ENABLED=false
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_FROM=your-email@gmail.com

TG_ENABLED=false
TG_TOKEN=123456789:replace-with-token

APP_LOGGER_LEVEL=debug
APP_LOGGER_FORMAT=console
